html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    font-family: 'Raleway', sans-serif;
}

.navbar-mary {
    background-color: #303030;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

code {
    color: #791001;
    font-size: 1.4em;
    background-color: #f8f8f8;
}

header h1 {
    padding-top: 20px;
    font-family: 'Expletus Sans', cursive;
    color: #f5f5f5;
    margin-top: 0;
    font-size: 250%;
}

.circle {
    background: #791001;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position:relative;
    -webkit-perspective:1000;
    perspective:1000;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.circle div {
    font-family: "Expletus Sans", sans-serif;
    vertical-align: middle;
    font-size: 5em;
    padding: 25% 20%;
    color: white;
}
div.circle:hover {

    transform: rotateY( 3600deg );
    -webkit-transform: rotateY(360deg);
}

footer {
    background: #791001;
    height: 60px;
    margin-top: 20px;
    padding-top:20px;
}

.top_20 {
    margin-top: 20px;
}

.classWithPad {
    margin:10px; padding:10px;
}

.portfolio-thumb {
    width: 150px;
    float: left;
    margin-right: 20px;
}

.portfolio-item {
    padding: 5px 0;
    min-height: 250px;
    margin: 20px 0;
}

.portfolio-item ul {
    padding-left:0;
}

.skillList li {
    font-size: 12px !important;
    background: #888;
    display: inline-block;
    color: #fff!important;
    text-decoration: none;
    position: relative;
    padding: 6px !important;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 3px;
}

footer {
    color: white;
}
dl {
    margin: 2em 0 20px 0;
    padding: 0;
    color: #808080;
}

dl dt {
    position: relative;
    left: 0;
    top: 1.1em;
    width: 8em;
    font-size: 1.1em;
}

dl dd {
    border-left: 1px solid #333;
    margin: 0 0 0 9em;
    padding: 0 0 0.5em 1.5em;

}

.usImg {
    width: 500px;
}

.fa {
    font-size: 3em;
}

a {
    color: #791001;
}

a:focus, a:hover {
    color: rgba(121, 16, 1, 0.66);
    text-decoration: underline;
}



/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}

/* Set the fixed height of the footer here */
#push,
footer {
    height: 60px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}